<script type="text/javascript">
  //전역변수..
    var param_index= "{{index}}"
    var param_id = "{{id}}"
</script>

<section class="section is-medium">
    <!--  게시글-->
    <div class="box posting_div">
        {% if my_check or index == "newsfeed"%}
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="post_send_user_img" src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="send_id"></strong> <small class="send_username"></small>
                        <textarea class="textarea post-text" placeholder="Add a comment..." value=""></textarea>
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <a class="level-item" aria-label="submit">
                            <span class="icon is-small post_send">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </nav>
            </div>
        </article>
        {% endif %}
    </div>
    <!--  게시글끝-->
<!--    <article class="media">-->
<!--        <div class="media-left">-->
<!--            <figure class="image is-64x64">-->
<!--                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">-->
<!--            </figure>-->
<!--        </div>-->
<!--        <div class="media-content">-->
<!--            <div class="content">-->
<!--                <p>-->
<!--                    <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>-->
<!--                    <pre>-->
<!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.-->
<!--                    </pre>-->
<!--                </p>-->
<!--            </div>-->
<!--            <nav class="level is-mobile">-->
<!--                <div class="level-left">-->
<!--                    <a class="level-item" aria-label="reply">-->
<!--                        <span class="icon is-small">-->
<!--                            <i class="fa fa-check" aria-hidden="true"></i>-->
<!--                        </span>-->
<!--                    </a>-->
<!--                    <a class="level-item" aria-label="like">-->
<!--                        <span class="icon is-small">-->
<!--                            <i class="fas fa-heart" aria-hidden="true"></i>-->
<!--                        </span>-->
<!--                    </a>-->
<!--                    <a class="level-item" aria-label="reply">-->
<!--                        <span class="icon is-small">-->
<!--                            <i class="fas fa-reply" aria-hidden="true"></i>-->
<!--                        </span>-->
<!--                    </a>-->
<!--                    <a class="level-item" aria-label="like">-->
<!--                        <span class="icon is-small">-->
<!--                            <i class="fa fa-exchange" aria-hidden="true"></i>-->
<!--                        </span>-->
<!--                    </a>-->
<!--                    <a class="level-item" aria-label="like">-->
<!--                        <span class="icon is-small">-->
<!--                            <i class="fa fa-times" aria-hidden="true"></i>-->
<!--                        </span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </nav>-->
<!--            &lt;!&ndash;      댓글시작&ndash;&gt;-->
<!--            <div class="box  send_reply_div">-->
<!--                <article class="media">-->
<!--                    <div class="media-left">-->
<!--                        <figure class="image is-64x64">-->
<!--                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">-->
<!--                        </figure>-->
<!--                    </div>-->
<!--                    <div class="media-content">-->
<!--                        <div class="content">-->
<!--                            <p>-->
<!--                                <strong>John Smith</strong> <small>@johnsmith</small>-->
<!--                                <textarea class="textarea post-text" placeholder="Add a comment..." value=""></textarea>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                        <nav class="level is-mobile">-->
<!--                            <div class="level-left">-->
<!--                                <a class="level-item" aria-label="reply">-->
<!--                                    <span class="icon is-small">-->
<!--                                        <i class="fa fa-check" aria-hidden="true"></i>-->
<!--                                    </span>-->
<!--                                </a>-->
<!--                                <a class="level-item" aria-label="like">-->
<!--                                    <span class="icon is-small">-->
<!--                                        <i class="fas fa-heart" aria-hidden="true"></i>-->
<!--                                    </span>-->
<!--                                </a>-->
<!--                                <a class="level-item" aria-label="reply">-->
<!--                                    <span class="icon is-small">-->
<!--                                        <i class="fas fa-reply" aria-hidden="true"></i>-->
<!--                                    </span>-->
<!--                                </a>-->
<!--                                <a class="level-item" aria-label="like">-->
<!--                                    <span class="icon is-small">-->
<!--                                        <i class="fa fa-exchange" aria-hidden="true"></i>-->
<!--                                    </span>-->
<!--                                </a>-->
<!--                                <a class="level-item" aria-label="like">-->
<!--                                    <span class="icon is-small">-->
<!--                                        <i class="fa fa-times" aria-hidden="true"></i>-->
<!--                                    </span>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </nav>-->
<!--                    </div>-->
<!--                </article>-->
<!--            </div>-->
<!--            &lt;!&ndash;      #댓글끝&ndash;&gt;-->
<!--            <article class="media">-->
<!--                <div class="media-left">-->
<!--                    <figure class="image is-64x64">-->
<!--                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">-->
<!--                    </figure>-->
<!--                </div>-->
<!--                <div class="media-content">-->
<!--                    <div class="content">-->
<!--                        <p>-->
<!--                            <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>-->
<!--                            <pre>-->
<!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.-->
<!--                            </pre>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    <nav class="level is-mobile">-->
<!--                        <div class="level-left">-->
<!--                            <a class="level-item" aria-label="reply">-->
<!--                                <span class="icon is-small">-->
<!--                                    <i class="fa fa-check" aria-hidden="true"></i>-->
<!--                                </span>-->
<!--                            </a>-->
<!--                            <a class="level-item" aria-label="like">-->
<!--                                <span class="icon is-small">-->
<!--                                    <i class="fas fa-heart" aria-hidden="true"></i>-->
<!--                                </span>-->
<!--                            </a>-->
<!--                            <a class="level-item" aria-label="reply">-->
<!--                                <span class="icon is-small">-->
<!--                                    <i class="fas fa-reply" aria-hidden="true"></i>-->
<!--                                </span>-->
<!--                            </a>-->
<!--                            <a class="level-item" aria-label="like">-->
<!--                                <span class="icon is-small">-->
<!--                                    <i class="fa fa-exchange" aria-hidden="true"></i>-->
<!--                                </span>-->
<!--                            </a>-->
<!--                            <a class="level-item" aria-label="like">-->
<!--                                <span class="icon is-small">-->
<!--                                    <i class="fa fa-times" aria-hidden="true"></i>-->
<!--                                </span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </article>-->
<!--        </div>-->
<!--    </article>-->
</section>