<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">-->
<!--    <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>-->
<!--    {% include "../include/base.html" %}-->
<!--    <script defer src="/static/js/index.js"></script>-->
<!--</head>-->

<!--<body>-->
<!--    {% include "../include/toolbar.html" %}-->
<!--    <section class="hero is-primary is-medium">-->
<!--        &lt;!&ndash; Hero content: will be in the middle &ndash;&gt;-->
<!--        <div class="hero-body" style="margin-top:50px;">-->
<!--            <div class="container has-text-centered">-->
<!--                <p class="title">-->
<!--                    Title-->
<!--                </p>-->
<!--                <p class="subtitle">-->
<!--                    Subtitle-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Hero footer: will stick at the bottom &ndash;&gt;-->
<!--        <div class="hero-foot">-->
<!--            <nav class="tabs">-->
<!--                <div class="container">-->
<!--                    <center>-->
<!--                        <figure class="image is-128x128" style="margin-bottom:10px;">-->
<!--                            <img class="is-rounded " src="https://bulma.io/images/placeholders/128x128.png">-->
<!--                        </figure>-->
<!--                    </center>-->
<!--                </div>-->
<!--            </nav>-->
<!--        </div>-->
<!--    </section>-->


<!--    <center>-->
<!--        <h1 class="title user_name_title" style="margin-top:50px;"></h1>-->
<!--    </center>-->
<!--    <nav class="level is-mobile" style="margin-top:50px;">-->
<!--        <div class="level-item has-text-centered">-->
<!--            <div>-->
<!--                <p class="heading">포스트</p>-->
<!--                <p class="title post_count"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="level-item has-text-centered">-->
<!--            <div>-->
<!--                <p class="heading">팔로잉</p>-->
<!--                <p class="title">123</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="level-item has-text-centered">-->
<!--            <div>-->
<!--                <p class="heading">팔로워</p>-->
<!--                <p class="title">456K</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="level-item has-text-centered">-->
<!--            <div>-->
<!--                <p class="heading">좋아요</p>-->
<!--                <p class="title">789</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->


<!--&lt;!&ndash;게시물 달기창 시작&ndash;&gt;-->
<!--    <section class="section posting_div">-->
<!--        <article class="media">-->
<!--            <figure class="media-left">-->
<!--                <p class="image is-64x64">-->
<!--                    <img src="https://bulma.io/images/placeholders/128x128.png">-->
<!--                </p>-->
<!--            </figure>-->
<!--            <div class="media-content">-->
<!--                <div class="field">-->
<!--                    <p class="control">-->
<!--                        <textarea class="textarea" placeholder="Add a comment..." value=""></textarea>-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="field">-->
<!--                    <p class="control">-->
<!--                        <button class="button is-success post_send">게시글 저장</button>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->
<!--&lt;!&ndash;게시물 달기창 끝&ndash;&gt;-->

<!--&lt;!&ndash;게시물 리스트&ndash;&gt;-->
<!--    <div class="hero-body post-item">-->
<!--        <article class="media">-->
<!--            <figure class="media-left">-->
<!--                <p class="image is-64x64">-->
<!--                    <img src="https://bulma.io/images/placeholders/128x128.png">-->
<!--                </p>-->
<!--            </figure>-->
<!--            <div class="media-content">-->
<!--                <div class="content">-->
<!--                    <p>-->
<!--                        <strong>{{p.last_name}}</strong>-->
<!--                        <br>-->
<!--                        {{p.content}}-->
<!--                        <br>-->
<!--                        <small><a>좋아요 (0)</a> · <a class="reply_button">댓글</a> · {{p.created_date}}</small>-->
<!--                    </p>-->
<!--                </div>-->
<!--                &lt;!&ndash;    댓글달기 창&ndash;&gt;-->
<!--                <div class="comment_div" style="display:none;">-->
<!--                    <article class="media">-->
<!--                        <figure class="media-left">-->
<!--                            <p class="image is-64x64">-->
<!--                                <img src="https://bulma.io/images/placeholders/128x128.png">-->
<!--                            </p>-->
<!--                        </figure>-->
<!--                        <div class="media-content">-->
<!--                            <div class="field">-->
<!--                                <p class="control">-->
<!--                                    <textarea class="textarea" placeholder="Add a comment..."></textarea>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                            <div class="field">-->
<!--                                <p class="control">-->
<!--                                    <button class="button is-success reply_send">댓글달기</button>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                </div>-->
<!--                    &lt;!&ndash;            댓글 창시작   &ndash;&gt;-->
<!--                    <article class="media">-->
<!--                        <figure class="media-left">-->
<!--                            <p class="image is-48x48">-->
<!--                                <img src="https://bulma.io/images/placeholders/96x96.png">-->
<!--                            </p>-->
<!--                        </figure>-->
<!--                        <div class="media-content">-->
<!--                            <div class="content">-->
<!--                                <p>-->
<!--                                    <strong>Sean Brown</strong>-->
<!--                                    <br>-->
<!--                                    Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.-->
<!--                                    <br>-->
<!--                                    <small><a>좋아요 (0)</a> 2 hrs</small>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                </div>-->
<!--&lt;!&ndash;댓글창끝&ndash;&gt;-->
<!--        </article>-->
<!--        </div>-->
<!--        </div>-->
<!--        </article>-->
<!--    </div>-->
<!--    {% include "../include/footer.html" %}-->
<!--</body>-->

<!--</html>-->

















    <div class="hero-body post-item">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{p.last_name}}</strong>
                        <br>
                        {{p.content}}
                        <br>
                        <small><a>좋아요 (0)</a> · <a class="reply_button">댓글</a> · {{p.created_date}}</small>
                    </p>
                </div>
                <div class="comment_div" style="display:none;">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="field">
                                <p class="control">
                                    <textarea class="textarea" placeholder="Add a comment..."></textarea>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <button class="button is-success reply_send">댓글달기</button>
                                </p>
                            </div>
                        </div>
                    </article>
<!--                    댓글시작-->
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Sean Brown</strong>
                                <br>
                                Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                                <br>
                                <small><a>좋아요 (0)</a> 2 hrs</small>
                            </p>
                        </div>
                    </div>
                </article>
<!--                    댓글끝-->
                </div>
            </div>
        </article>
    </div>

