<!DOCTYPE html>
<html>
  <head>
    {% include "../include/base.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/particles.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/login.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div class="columns is-vcentered">
      <div class="login column is-4 ">
        <section class="section">
          <div class="has-text-centered">
              <img class="login-logo" src="/static/img/logo_r_resumme.png">
          </div>
          <form method="POST">
          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-right">
              <input class="input" name="username" type="text">
              <span class="icon is-small is-right">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-right">
              <input class="input" name="email" type="email">
              <span class="icon is-small is-right">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Name</label>
            <div class="control has-icons-right">
              <input class="input" name="name" type="text">
              <span class="icon is-small is-right">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-right">
              <input class="input" name="password1" type="password">
              <span class="icon is-small is-right">
                <i class="fa fa-key"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Password Check</label>
            <div class="control has-icons-right">
              <input class="input" name="password2" type="password">
              <span class="icon is-small is-right">
                <i class="fa fa-key"></i>
              </span>
            </div>
          </div>

          <div class="has-text-centered">
            <input class="button is-vcentered is-primary is-outlined" type="submit" value="Sign Up!">
          </div>
          </form>
          <div class="has-text-centered">
            <a href="/accounts/login"> Already have an account? Log in now !</a>
          </div>
        </section>
      </div>
      <div id="particles-js" class="interactive-bg column is-8">

      </div>
    </div>
{% include "../include/footer.html" %}

  </body>
</html>
