<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
    {% include "../include/base.html" %}
    <script defer src="/static/js/post.js"></script>
    <script defer src="/static/js/index.js"></script>
</head>

<body>
    {% include "../include/toolbar.html" %}
    <section class="hero is-primary is-medium">
        <!-- Hero content: will be in the middle -->
        <div class="hero-body" style="margin-top:50px;">
            <div class="container has-text-centered">
                <p class="title">
                    <center>
                        <figure class="image is-128x128 " style="margin-bottom:10px;">
                            <img class="is-rounded title-user-img " src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    <center/>
                </p>
            </div>
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            <nav class="tabs">
                <div class="container">
                    <ul>
                        {% if my_check %}
                            <li><a class ="img-update">프로필 사진</a></li>
                            <li style="display: none;"><a><input type="file" class="img-upload" accept="image/*" required multiple></a></li>
                        {% endif %}
                    </ul>
                  </div>
            </nav>
        </div>
    </section>


    <center>
        <h1 class="title user_name_title" style="margin-top:50px;"></h1>
    </center>
    <nav class="level is-mobile" style="margin-top:50px;">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">포스트</p>
                <p class="title post_count"></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">팔로잉</p>
                <p class="title">123</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">팔로워</p>
                <p class="title">456K</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">하트</p>
                <p class="title post_reply_count"></p>
            </div>
        </div>
    </nav>
    {% include "../include/post.html" %}
    {% include "../include/footer.html" %}
</body>

</html>