<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
    <link rel="icon" href="/static/img/logo_r_resumme.png" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <title>DayTrace</title>
    <script defer src="/static/js/post_reply_pop.js"></script>
</head>
<body>

<section class="hero hero is-smal">
  <div class="hero-body">
    <div class="field">
      <div class="control is-primary">
        <textarea class="textarea is-primary text" placeholder="내용을 적어주세요."></textarea>
      </div>
    </div>
  </div>
</section>
<center>
    <button class="button is-primary send">수정</button>
    <button class="button is-danger" onclick="window.close()">취소</button>
</center>

</body>
</html>